.alert_modal{
	#width:300px
}

@media only screen and (max-width: 767px) {
  .ui-jqgrid .ui-jqgrid-pager {
    height: 90px;
  }
  .ui-jqgrid .ui-jqgrid-pager > .ui-pager-control {
    height: 85px;
    padding-top: 9px;
  }
  .ui-jqgrid .ui-jqgrid-pager > .ui-pager-control > .ui-pg-table > tbody > tr > td {
    vertical-align: top;
  }
  .ui-jqgrid .ui-jqgrid-pager > .ui-pager-control > .ui-pg-table > tbody > tr > td.grid-pager_center {
    width: 0 !important;
    position: static;
  }
  .ui-jqgrid .ui-jqgrid-pager > .ui-pager-control > .ui-pg-table > tbody > tr > td.grid-pager_center > .ui-pg-table {
    margin: 36px auto 0;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 0) {
  .ui-jqgrid .ui-jqgrid-pager > .ui-pager-control > .ui-pg-table > tbody > tr > td.grid-pager_center > .ui-pg-table {
    width: 300px;
  }
}

.monitor-info-name {
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: normal;
  color: #667E99;
  background-color: transparent;
  border-top: 1px dotted #D5E4F1;
  display: table-cell;
  width: 130px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 0px;
    margin-bottom: 0;
    text-align: right;
  }
}


.ui-pg-div .ui-icon {
  width: 24px;
  font-size: 22px;
}

input.error{border: 1px dotted red;}
label.error{
  background-repeat:no-repeat;
  padding-left:18px;
  color: red;
}